# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtual Environment
venv/
env/

# Django
db.sqlite3

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
